@using System
@using SlankaToys.UX.Services
@inject HttpClient Http
@inject ToastService toastService

@page "/cart/user/{userId:int}"
@if (cartModel == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h3>@cartModel.Date</h3>
    <h3>Total: <strong>$ @cartModel.Items.Sum(i => i.TotalPrice)</strong></h3>
    @* @foreach (var item in cartModel.Items)
    {
         <p>@item.ProductName (@item.Quantity)</p>
        <p>Price: @item.Price</p> 

           <div class="product-box">

            <img src="/images/@item.ImageFileName" alt="Image">

            <div class="caption">
                <h3><a>@item.ProductName </a></h3>
                <p>Price : <strong>$ @item.Price</strong>  </p>
            </div>
        </div>
    } *@

        <div class="container">
        <div class="row">
            @foreach (var item in cartModel.Items)
            {
                <div class="col-md-3 text-center col-sm-6 col-xs-6 tile">
                    <div class="product-box">

                        <img src="/images/@item.ImageFileName" alt="Image">

                        <div class="caption">
                            <h3><a>@item.ProductName (@item.Quantity)</a></h3>
                            <p>Price : <strong>$ @item.Price</strong>  </p>
                            <p>Total Price : <strong>$ @item.TotalPrice </strong>  </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}

@code {
    [Parameter]
    public int UserId { get; set; }

    private CartModel cartModel;

    protected override async Task OnInitializedAsync()
    {
        cartModel = await Http.GetFromJsonAsync<CartModel>($"cart/user/{UserId}");
    }


    public class CartItemModel
    {
        public string ProductName { get; set; }
        public decimal Price { get; set; }

        public decimal Quantity { get; set; }

        public decimal TotalPrice => Price * Quantity;

        public string ImageFileName { get; set; }
    }

    public class CartModel{
        public DateTime Date { get; set; }
        public List<CartItemModel> Items { get; set; }
    }
}
