@page "/products"
@using SlankaToys.UX.Services
@using Microsoft.AspNetCore.Components.WebAssembly.Hosting
@using SlankaToys.UX.Models.Requests
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IWebAssemblyHostEnvironment HostEnvironment
@inject ToastService toastService 

<h3>Products</h3>

@if (products == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="container">
        <div class="row">
            @foreach (var product in products)
            {
                <div class="col-md-3 text-center col-sm-6 col-xs-6 tile">
                    <div class="product-box">

                        <img src="/images/@product.ImageFileName" alt="Image">

                        <div class="caption">
                            <h3><a>@product.Name</a></h3>
                            <p>Price : <strong>$ @product.Price</strong>  </p>

                            <p>
                                <a @onclick="@(() => AddToCart(@product.ProductId))" class="btn sharp" role="button">Add To Cart</a>
                                <a @onclick="@(() => GetProduct(@product.ProductId))" class="btn sharp" role="button">See Details</a>
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

}

@code
{
    private Product[] products;

    protected override async Task OnInitializedAsync()
    {
        products = await Http.GetFromJsonAsync<Product[]>("products");
    }

    void GetProduct(int productId) => NavigationManager.NavigateTo($"product/{productId}");

    public async Task AddToCart(int productId)
    {
        var request = new AddToCartRequestModel() { ProductId = productId, Quantity = 1, UserId = 1 };
        var response = await Http.PostAsJsonAsync("cart", request);
        try
        {
            string d = await response.Content.ReadAsStringAsync();
            toastService.ShowToast(d, ToastType.Success);
        }
        catch (Exception ex)
        {
            var g = ex;
        }

    }

    public class Product
    {
        public int ProductId { get; set; }
        public string Name { get; set; }
        public string Description { get; set; }
        public string ImageFileName { get; set; }
        public decimal Price { get; set; }
    }
}

